# .gitignore

# Ignore all video files in the root directory
/*.mp4
/*.avi
/*.mov
/*.mkv
/*.flv
/*.wmv
/*.webm
/*.m4v

# macOS system files
.DS_Store
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes
.Dumpster
.fseventsd
.VolumeIcon.icns

# VSCode specific files
.vscode/
*.code-workspace

# Other folders to ignore

prints/

# Node modules (if using Node.js)
# node_modules/

# Log files
# npm-debug.log*
# yarn-debug.log*
# yarn-error.log*

# # Git merge conflict files
# *.orig

# # Git commit message files
# COMMIT_EDITMSG
# MERGE_HEAD
# MERGE_MSG

# # Ignore patch files
# *.patch

# # Git LFS files
# .gitattributes
# .git/lfs/*

# # Ignore Git hooks
# .git/hooks/*

# # Ignore local Git configurations
# .git/config
# .git/refs/*
